.bodyWrap{
    background-color: #ffffff;
    padding: 3rem 1rem;
}
.bodyWrap .clickBtn{
    margin: 0 auto;
    width: 60%;
    height: 3.5rem;
    background-color: #e35629;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}
 .bodyWrap .clickBtn:active{
    background-color: #d64213;
}
 .bodyWrap{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
 .column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
