.header-wrap{
    background-color: #ffffff;
    padding: 3rem 1rem;
}
.header-wrap .click-btn{
    margin: 0 auto;
    width: 60%;
    height: 3.5rem;
    background-color: #e35629;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}
.header-wrap .click-btn:active{
    background-color: #d64213;
}
.body-wrap{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* note 组件 */
