.Navbar{
    background-color: #fba913;
    color: #ffffff;
    height: 1rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}