body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  font-size: 1.15rem;
  letter-spacing: 0.15rem;
  color: #606266;
}
.app-page{
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

